<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeatherApp</title>
</head>

<link rel="stylesheet" href="style.css">

<body>
    <div class="container">
        <h1>WEATHER APP</h1>
      <form action="/weather" method="get">
        <input type="text" name="cityName" placeholder="Enter city name" />
        <button type="submit">Get Weather</button>
      </form>
      <% if (error) { %>
        <p class="error"></p>
        <% } else if (weather) { %>
        <div class="card">
          <!-- Add your weather data here -->
          <p>
            <b>Temprature: <%=weather.main.temp%>&deg;C</b>
          </p>
          <p>
            <b>Weather: <%=weather.weather[0].main%></b>
          </p>
          <p>
            <b>City&Country: <%=weather.name%>, <%=weather.sys.country%></b>
          </p>
        </div>
        <% } %>
    </div>
  </body>
</html>